server:
  port: 8111



spring:
  application:
    name: userservice
  datasource:
    url: jdbc:postgresql://localhost:5432/delma_user_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  security:
    user:
      name: admin
      password: admin123

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

logging:
  level:
    root:  INFO
  file:
    name:  logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-history:7






jwt:
  secret: Z0ZqQm1nQ0tZQ1N2R3p3VjVnQ0hFZ3pMZ1R2aD...